/* Color scheme:*/

/* Color Theme Swatches in Hex */
/*.Grey-and-Blue-1-hex { color: #737373; }
.Grey-and-Blue-2-hex { color: #A6A6A6; }
.Grey-and-Blue-3-hex { color: #FFFFFF; }
.Grey-and-Blue-4-hex { color: #00A1F2; }
.Grey-and-Blue-5-hex { color: #136597; }*/

/* Color Theme Swatches in RGBA */
/*.Grey-and-Blue-1-rgba { color: rgba(114, 114, 114, 1); }
.Grey-and-Blue-2-rgba { color: rgba(165, 165, 165, 1); }
.Grey-and-Blue-3-rgba { color: rgba(255, 255, 255, 1); }
.Grey-and-Blue-4-rgba { color: rgba(0, 161, 242, 1); }
.Grey-and-Blue-5-rgba { color: rgba(18, 100, 151, 1); }*/

/* Color Theme Swatches in HSLA */
/*.Grey-and-Blue-1-hsla { color: hsla(0, 0, 45, 1); }
.Grey-and-Blue-2-hsla { color: hsla(0, 0, 65, 1); }
.Grey-and-Blue-3-hsla { color: hsla(0, 0, 100, 1); }
.Grey-and-Blue-4-hsla { color: hsla(200, 100, 47, 1); }
.Grey-and-Blue-5-hsla { color: hsla(202, 77, 33, 1); }*/
body{
    font-family: 'Roboto Slab', serif;
    background-color: black;
    position: absolute;

    
}
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: #737373;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #575757;
    border-radius: 20px;
    border: 3px solid #737373;
  }

main {
    position:relative;
    height:99vh;
    width: 100%;
    display: grid;
    grid-template-areas:
        "header header header"
        "ideas todo delayed"
        "footer footer footer";
    grid-template-rows: 1fr 5fr 2fr;
    /* grid-template-rows: 10% 70% 20%; */
    gap:1vh 0.7vw;
    align-items: center;
    justify-items: center;
}
td{
    width:500px;
}

nav {
    background-color: #136597;
    width: 100%;
    height:100%;
    
    text-align: center;    
    text-justify: center;    
    grid-area: header;
    padding-top:20px;
    padding-bottom: 20px;

}

#idea {
    grid-area: ideas;
    background-color: #A6A6A6;
    width:100%;
    height:100%;
   

    padding:10px;
    overflow-y:scroll;
}

#todo {
    grid-area: todo;
    background-color: #A6A6A6;
    width:100%;
    height:100%; 
    padding:10px;
    overflow-y:scroll;
}

#delays {
    grid-area: delayed;
    background-color: #A6A6A6;
    
    width:100%;
    height:100%;

    padding:10px;
    overflow-y:scroll;
}

#footer {
    grid-area: footer;
    background-color:#737373;
    text-align: left;
    text-justify: center;
    width:100%;
    height:100%;
    padding:10px;
    overflow-y: scroll;
}

#userImage{
    max-width:40px;
    border-radius: 50%;
    border-color: rgb(19, 43, 255);
    border-width: 10px;
}