/* Color scheme:*/

/* Color Theme Swatches in Hex */
/*.Grey-and-Blue-1-hex { color: #737373; }
.Grey-and-Blue-2-hex { color: #A6A6A6; }
.Grey-and-Blue-3-hex { color: #FFFFFF; }
.Grey-and-Blue-4-hex { color: #00A1F2; }
.Grey-and-Blue-5-hex { color: #136597; }*/

/* Color Theme Swatches in RGBA */
/*.Grey-and-Blue-1-rgba { color: rgba(114, 114, 114, 1); }
.Grey-and-Blue-2-rgba { color: rgba(165, 165, 165, 1); }
.Grey-and-Blue-3-rgba { color: rgba(255, 255, 255, 1); }
.Grey-and-Blue-4-rgba { color: rgba(0, 161, 242, 1); }
.Grey-and-Blue-5-rgba { color: rgba(18, 100, 151, 1); }*/

/* Color Theme Swatches in HSLA */
/*.Grey-and-Blue-1-hsla { color: hsla(0, 0, 45, 1); }
.Grey-and-Blue-2-hsla { color: hsla(0, 0, 65, 1); }
.Grey-and-Blue-3-hsla { color: hsla(0, 0, 100, 1); }
.Grey-and-Blue-4-hsla { color: hsla(200, 100, 47, 1); }
.Grey-and-Blue-5-hsla { color: hsla(202, 77, 33, 1); }*/


main {
    height:97vh;
    width: 100%;
    display: grid;
    grid-template-areas:
        "header header header"
        "ideas todo delayed"
        "footer footer footer";
    grid-template-rows: 1fr 5fr 2fr;
    gap:1vh 1vw;
    align-items: center;
    justify-items: center;
}

nav {
    background-color: grey;
    width: 97vw;
    text-align: center;
    grid-area: header;
    padding-top:10px;
    padding-bottom: 10px;
    text-justify: center;
}

#idea {
    grid-area: ideas;
    background-color: green;
    
}

#todo {
    grid-area: todo;
    background-color: red;
    
}

#delays {
    grid-area: delayed;
    background-color: blue;
    
}

#footer {
    grid-area: footer;
    background-color:lightgray;
    text-align: left;
    text-justify: center;
}